.mainBox {
	border: solid black 1px;
	display: flex;
	flex-direction: column;
	// height: 90vh;
	width: 80vw;
	margin: 25px auto;
	justify-content: space-around;
	align-items: center;
	border-radius: 5px;
	background: rgba(242, 242, 242, 0.5);
}

.formBox {
	margin: 35px 0px;
	// border: solid orange 1px;
	display: flex;
	flex-direction: column;
	// height: 60vh;
	// width: 30vw;
	// justify-content: space-around;
	align-items: center;
	// -webkit-box-shadow: -1px -2px 9px 2px rgba(194, 194, 194, 0.33);
	// -moz-box-shadow: -1px -2px 9px 2px rgba(194, 194, 194, 0.33);
	//  box-shadow: -1px -2px 9px 2px rgba(194, 194, 194, 0.33);

	form {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}


hr {
	width: 90%;

}


.allTheContactsBox {
	// margin: 35px 0px;
	// border: solid orange 1px;
	display: flex;
	flex-direction: column;
	align-items: center;
	// overflow: scroll;

}
.contactsBox {
	margin: 20px 0px;
	// border: solid orange 1px;
	display: flex;
	flex-direction: row;
	// height: 30vh;
	// width: 40vw;
	// justify-content: space-around;
	align-items: center;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.24);
	-moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.24);
	box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.24);
}

.contactsWrapper {
	// border: solid orange 1px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pic1 {
	// border: solid yellow 1px;
	height: 20vw;
	width: 20vw;
	// border-radius: 100%;
	-webkit-box-shadow: inset 0px 0px 4px 0px rgba(50, 50, 50, 0.45);
	-moz-box-shadow:    inset 0px 0px 4px 0px rgba(50, 50, 50, 0.45);
	box-shadow:         inset 0px 0px 4px 0px rgba(50, 50, 50, 0.45);
}

.pic2 {
	// border: solid yellow 1px;
	height: 10vw;
	width: 10vw;
	-webkit-box-shadow: inset 0px 0px 4px 0px rgba(50, 50, 50, 0.45);
	-moz-box-shadow:    inset 0px 0px 4px 0px rgba(50, 50, 50, 0.45);
	box-shadow:         inset 0px 0px 4px 0px rgba(50, 50, 50, 0.45);
}


input {
	height: 5vh;
	width: 30vw;
	margin: 2px;
   border: outset 1px #F2F2F5;
   padding: 1px;
   border-radius: 5px;
   // font-size: 16px;
   box-shadow: 0px 1px 10px 2px rgba(156, 156, 156, 0.07);
   background-color: #FFFFFF;
   background-image: url(http://);
   background-position: 0px 0px;
   background-repeat: no-repeat;
   outline: none;
   color: #000000;
  }
input:hover  {
   border: 2px outset #949494;
  }
input:focus  {
   border: solid 2px #8F1340;
   box-shadow: inset 0px 1px 2px 0px #9C9C9C;
  }
input:active  {
   border: outset 2px #000000;
  }

button {
	   border-radius: 5px;
	   outline: none;
}


  span {
  	display: flex;
	height: 5vh;
	width: 30vw;
	margin: 2px;
   border: outset 1px #F2F2F5;
   padding: 1px;
   border-radius: 5px;
   // font-size: 16px;
   box-shadow: 0px 1px 10px 2px rgba(156, 156, 156, 0.07);
   background-color: #FFFFFF;
   background-image: url(http://);
   background-position: 0px 0px;
   background-repeat: no-repeat;
   outline: none;
   color: #000000;
   align-items: center;
  }
span:hover  {
   border: 2px outset #949494;
  }
// span:focus  {
//    border: solid 2px #8F1340;
//    box-shadow: inset 0px 1px 2px 0px #9C9C9C;
//   }
// span:active  {
//    border: outset 2px #000000;
//   }

